@font-face {
  font-family: 'papyrus';
  src: url(/public/fonts/papyrus.TTF);
}
@font-face {
  font-family:'Ink free';
  src: url(/public/fonts/Inkfree.ttf);
}
@font-face {
  font-family:'Comic Sans MS';
  src: url(/public/fonts/LDFComicSans.ttf);
}

.App {
  text-align: center;
  font-family:'Ink free','papyrus',  'Comic Sans MS', sans-serif;
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.music, .creation, .cart, .gallery{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 0px;
  padding: 10px 0px;
  border: 0px solid black;

}
.intro{
  position: relative;
  border: 0px solid black;
  width: 200px;
  text-align: center;
}
.intro>h1,.intro>h2{
  font-weight:1000 ;
}

.intro::after{
  content: "";
  position: absolute;
  width: 60px;
  height: 0px;
  border: 1px solid black;
  right: -100px;
  top:50%;
}
.intro::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 0px;
  border: 1px solid black;
  left: -100px;
  top:50%;
}

/* Custom styles for the Google Translate Element container */
#google_translate_element {
  position: fixed;
  bottom: 20px;
  right: 0px;
  background-color: #ebebebfe;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  z-index: 9999; /* Ensure it's above other elements */
}
