nav{
    border: 0px solid black;
    display: flex;
    align-items: center;
    padding-left: calc(10vw);
    padding-right: calc(10vw);
}
.container-fluid.logo{
    border: 0px solid blue;
    max-width: 100px;
    margin-left: calc(10vw);
}
.container-fluid.menu{
    border: 0px solid red;
    display:flex;
    font-size: 25px;
}
.container-fluid.menu>ul{
    display:flex;
    margin-left: auto;
    margin-right: calc(10vw);
}
.nav-item:hover{
    cursor: pointer;
}
.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content:end;
    position: relative;
    width: 80%;
    height:300px;
    left:50%;
    transform: translateX(-50%);
    text-align: left;
    background-image:url("/public/images/jumbotron.jpg");
    background-position: center;
}