:root{
  --primary-color:blue;
  --secondary-color:red;
}

@font-face {
  font-family: 'papyrus';
  src: url(/public/fonts/papyrus.TTF);
}
@font-face {
  font-family:'Ink free';
  src: url(/public/fonts/Inkfree.ttf);
}
@font-face {
  font-family:'Comic Sans MS';
  src: url(/public/fonts/LDFComicSans.ttf);
}


body {
  margin: 0;
  font-family: 'papyrus', 'Ink free', 'Comic Sans MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
