.music{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
}
.music-intro{
    position: relative;
    border: 0px solid black;
    width: 200px;
    text-align: center;
}
.music-intro::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 0px;
    border: 1px solid black;
    right: -100px;
    top:50%;
}
.music-intro::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 0px;
    border: 1px solid black;
    left: -100px;
    top:50%;
}
.music-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.music-logo{
    margin-right: 20px;
}
.music-logo img{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
}

