.music-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border: 0px solid black;
    border-radius:6px;
    background-color: #ebebebfe;
    padding:15px;
    color:black;
}
.music-logo{
    margin-right: 20px;
}
.music-logo img{
    width: 80px;
    height: 80px;
    border: 0px solid black;
    border-radius: 50%;
}
.music-details{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 10px;
}
