.music-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.music-logo{
    margin-right: 20px;
}
.music-logo img{
    width: 80px;
    height: 80px;
    border: 1px solid black;
    border-radius: 50%;
}

